@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #2f74c0;
  font-family: "Neucha", cursive;
  align-items: center;
}

.heading{
  font-family: Neucha;
  text-transform: uppercase;
  font-size: 40px;
  margin: 30px 2px;
  color: rgb(243, 243, 248);
  z-index: 1;
}

@media (max-width: 800px){
  .heading {
    margin: 15px 2px;
    font-size: 30px;
  }
}